<a class="card clickable">
  <div class="card-block">
    <div class="card-title">
      {{ room.nameLobby }}
    </div>
    <div class="card-text">
      <ul>
        <li><strong>Moderador:</strong> {{ room.presenter }}</li>
        <li><strong>Hora de inicio:</strong> {{ room.initialDate | date : 'fullDate' }} </li>
        <li><strong>Participantes:</strong> {{ room.participants }} </li>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <button [clrLoading]="room.loading" class="btn btn-inverse" (click)="room.handleEventClick(room)">Conectarse</button>
  </div>
</a>
